* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(#D8C7FF, #19006C);
  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}